/***** BASE RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f8fafc;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-hero {
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mini-container {
  max-width: 96rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.app-grid {
  display: grid;
  grid-template-columns: 25rem 1fr;
  min-height: 100vh;
}

.heading-primary,
.heading-seconary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 6.4rem;
  color: #03212f;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  color: #03212f;
  margin-bottom: 4.8rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0ea5e9;
  margin-bottom: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
  border: none;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #0ea5e9;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0d95d2;
}

.btn--outline:link,
.btn--outline:visited {
  color: #03212f;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  box-shadow: 0 0 0 0.3rem #0ea5e9;
  background-color: transparent;
}

.margin-right--sm {
  margin-right: 1.6rem;
}

.margin-top--sm {
  margin-top: 1.6rem;
}

.section-hero {
  padding: 9.6rem 0 9.6rem 0;
}

.hero__text-box {
  padding-left: 12.8rem;
}

.hero__description {
  font-size: 2rem;
  line-height: 1.6;
  width: 35ch;
  margin-bottom: 4.8rem;
}

.hero__img-box {
  display: grid;
  justify-content: end;
}

.hero__img-box img {
  width: 100%;
}

.section-partners {
  padding: 3.2rem 0;
}

.partners__heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 2.4rem;
}

.partners .logos {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6rem;
  row-gap: 2.4rem;
}

.form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 9px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 3.2rem 0 4.8rem 2.4rem;
  height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sidebar__nav-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.sidebar__nav-link--active {
  background-color: #dbeafe;
  border-bottom-left-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  box-shadow: 2rem 0 1rem rgba(255, 255, 255, 0.603);
}

.sidebar .app-logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: #0ea5e9;
  margin-bottom: 6.4rem;
}

.sidebar__profile {
  list-style: none;
  margin-top: auto;
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.sidebar__profile li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.section-cars {
  padding: 9.6rem 0;
}

.cars-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}

.car-card {
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
}

.car-card img {
  width: 100%;
  margin-bottom: 1.6rem;
}

.car-card__title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.one-car {
  width: 100%;
  margin-bottom: 3.6rem;
}

.details {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.details__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.details__description {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}
